# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.*

# VS Code
.vscode/

# IntelliJ
.idea/

# Node
node_modules/

# Build
dist/
build/

# Java
target/
*.class

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar